body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.space {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  background: black;
  color: pink;
}


.kevin {
  background: pink;
  padding-top: 50px;
}

h1 {
  font-size: 150px;
}
